{{#has any="facebook, twitter, website"}}
    <div class="flex gap-5 relative">
        
        <a class="" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" href="https://twitter.com/share?text={{encode title}}&url={{url absolute="true"}}" target="_blank">
            {{> icons/twitter}}
        </a>

        <a class="" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" href="https://www.linkedin.com/shareArticle?mini=true&url={{encode title}}&url={{url absolute="true"}}">
            {{> icons/linkedIn}}
        </a>
        
        <a class="" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" target="_blank">              
             {{> icons/facebook}}
        </a>
    </div>
{{/has}}