{{!-- Header Start --}}
<header class="header-area py-5 lg:py-0 bg-[#fff] {{#is "post"}}post-header{{/is}}">
    <div class="container">
        <div class="header-wrapper flex items-center justify-between gap-5">
            <a href="{{@site.url}}" class="logo">
                {{#if @site.logo}}
                    <img src="{{@site.logo}}" alt="{{@site.title}}">
                    {{else}}
                    <h2 class="site-title-if-no-logo">{{@site.title}}</h2>
                {{/if}}
            </a>
            <div class="main-menu">
                <ul>
                    <li>
                        <a href="https://cada.com/de/analysis">Fertility Check</a>
                    </li>
                    <li class="relative">
                        <a href="#">Behandlungen </a>
                        <div class="mega-menu">
                            <ul>
                                <li>
                                    <a href="https://cada.com/de/treatment/ht/">
                                        <span>
                                            Hormontherapie arrow
                                            <span>{{> icons/menu-items-arrow}}</span>
                                        </span>
                                        <p>Hormonelle Zyklusuntersützung</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://cada.com/de/treatment/social-freezing-male/">
                                        <span>
                                            Social Freezing Mann
                                            <span>{{> icons/menu-items-arrow}}</span>
                                        </span>
                                        <p>Kryokonservierung der Samenzellen</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://cada.com/de/treatment/ivf/">
                                        <span>
                                            IVF
                                            <span>{{> icons/menu-items-arrow}}</span>
                                        </span>
                                        <p>In-Vitro Fertilization</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://cada.com/de/treatment/social-freezing-female/">
                                        <span>
                                            Social Freezing Frau
                                            <span>{{> icons/menu-items-arrow}}</span>
                                        </span>
                                        <p>Kryokonservierung der Eizellen</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://cada.com/de/treatment/iui/">
                                        <span>
                                            IUI
                                            <span>{{> icons/menu-items-arrow}}</span>
                                        </span>
                                        <p>Intrauterine Insemination </p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="https://cada.com/de/why-cada/">Warum Cada</a></li>
                    <li class="relative">
                        <a href="#">Ressourcen</a>
                        <div class="sub-menu">
                            <ul>
                                <li>
                                    <a href="https://cada.com/de/blog/">
                                        <span>
                                            Blog
                                            <span>{{> icons/menu-items-arrow}}</span>
                                        </span>
                                        <p>Informationen und Artikel zu Kinderwunsch-Themen</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="relative">
                        <a href="#">Mehr</a>
                        <div class="sub-menu">
                            <ul>
                                <li>
                                    <a href="https://cada.com/de/about-us/">
                                        <span>
                                            Über uns
                                            <span>{{> icons/menu-items-arrow}}</span>
                                        </span>
                                        <p>Erfahre mehr über das Cada-Team</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://cada.com/de/locations/">
                                        <span>
                                            Praxis
                                            <span>{{> icons/menu-items-arrow}}</span>
                                        </span>
                                        <p>Unser Standort und Einblicke in unsere Praxisräume</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://cadafertility.careers.flair.hr/">
                                        <span>
                                            Karriere
                                            <span>{{> icons/menu-items-arrow}}</span>
                                        </span>
                                        <p>Informationen zu offenen Stellen bei Cada</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="block xs:hidden"><a class="btn-primary !text-[#fff] text-center" href="https://booking.cada.com/de/appointment/?_gl=1*48nnnq*_gcl_au*MjAyMjY1OTI5NC4xNzAxNzc5ODUx*_ga*MTUwNTIzNzAxLjE3MDE3Nzk4NTI.*_ga_3Y8RV0505Q*MTcwMTkzNDk5Ni4xMC4xLjE3MDE5MzUwMTYuMC4wLjA.">Kostenfreie Beratung</a></li>
                </ul>
            </div>
            <div class="header-right flex items-center gap-5">
                <a class="btn-primary !hidden xs:!inline-block" href="https://booking.cada.com/de/appointment/?_gl=1*48nnnq*_gcl_au*MjAyMjY1OTI5NC4xNzAxNzc5ODUx*_ga*MTUwNTIzNzAxLjE3MDE3Nzk4NTI.*_ga_3Y8RV0505Q*MTcwMTkzNDk5Ni4xMC4xLjE3MDE5MzUwMTYuMC4wLjA.">Kostenfreie Beratung</a>
                <button class="hamgurger lg:hidden">
                    <span class="top"></span>
                    <span class="bottom"></span>
                </button>
            </div>
        </div>
    </div>
    {{!-- Progress Bar for posts --}}
    {{#is "post"}}<div class="progress-bar"></div>{{/is}}
</header>
{{!-- Header End --}}