{{!< default}}

{{#author}}
{{!-- Bradcamb --}}
<section class="pt-10 xs:pt-16 md:pt-10">
    <div class="container">
        <div class="flex items-center gap-[14px] xs:justify-center sm:justify-start">
        <a href="https://cada.com/en"
            class="flex items-center gap-[5px] text-xs leading-[22px] text-black py-1 px-3 rounded-[32px] bg-[#EEEFF0]">
            {{> redesign/icons/home}}
            Cada
        </a>
        <span class="block w-[6px]">
            {{> redesign/icons/bradcamb-right-arrow}}
        </span>
        <a href="{{@site.url}}" class=" text-black text-xs leading-none">Blog</a>
        <span class="block w-[6px]">
            {{> redesign/icons/bradcamb-right-arrow}}
        </span>
        <a href="/experts" class=" text-black text-xs leading-none whitespace-nowrap hidden xs:block">Author</a>
        <span class="w-[6px] hidden xs:block">
            {{> redesign/icons/bradcamb-right-arrow}}
        </span>
        <p class=" text-[#777C85] text-xs leading-none w-full whitespace-nowrap overflow-hidden text-ellipsis">{{name}}</p>
    </div>
    </div>
</section>


{{!-- Author Details Start --}}
<section class="pt-[29px] pb-[32px] xs:pb-[48px] sm:pb-[60px]">
    <div class="container">
        <div class="flex items-start gap-10 lg:gap-12 flex-col md:flex-row">
            {{> redesign/single-author-banner}}
        </div>
    </div>
</section>
{{!-- Author Details End --}}




<section class="py-[32px] xs:py-[48px] sm:py-[60px] overflow-hidden">
    <div class="container">
        <h2 class="text-3xl xs:text-4xl sm:text-[40px] leading-[43px] sm:leading-[48px] font-semibold mb-10 xs:mb-16">Artikel von {{name}}</h2>

{{/author}}
        {{!--  --}}
        {{!-- {{#get "posts" limit="all" filter="tags:[{{post.tags}}]+id:-{{post.id}}" include="tags,authors" as |related|}} --}}
        <div class="grid xs:grid-cols-2 lg:grid-cols-3 gap-x-4 sm:gap-x-6 gap-y-10 mt-16 js-post-wrapper">
            {{#foreach posts }}
            {{> redesign/cards/treatment-card class="js-post-card"}}
            {{/foreach}}
        </div>
        <div class="text-center mt-10 show-more-box">
            <a href="#" class="show-more rounded-lg py-4 px-6 bg-[#F5F6F7] text-base font-medium leading-none tracking-[-0.01px] text-black duration-300  inline-block">Mehr laden</a>
        </div>
        {{!-- {{/get}}  --}}
    </div>
</section>


{{!-- Sign Up Area Start --}}
<div class="py-[32px] xs:py-[48px] sm:py-[60px]">
    <div class="max-w-[1224px] mx-auto">
        {{> sign-up}}
    </div>
</div>
{{!-- Sign Up Area End --}}