{{!< default}}

{{!-- Banner Start --}}
{{#get "posts" filter="tag:hash-hero" limit="1" include="authors,tags"}}
{{#if posts}}
    <div class="pt-[50px] pb-[30px] sm:py-[50px] lg:py-[60px]">
        <div class="container">
            {{#foreach posts}}
                <div class="max-w-[1224px] mx-auto flex items-center justify-between gap-8 sm:gap-10 flex-col sm:flex-row">
                    <div class="sm:max-w-[320px] md:max-w-[440px] w-full {{^if feature_image}}banner-center{{/if}}">
                        <span class="text-[14px] text-[#3D4044] block tracking-[-0.14px]">Blog</span>
                        <h1 class="mt-2 md:mt-[18px] text-4xl md:text-[56px] font-semibold leading-[1.2]"><a href="{{url}}">{{title}}</a></h1>
                        <p class="mt-3 md:mt-4 text-base md:text-lg tracking-[-0.18px]">{{excerpt}}</p>
                        {{!-- From --}}
                        <form class="mt-6 md:mt-10 flex gap-4 max-w-[380px] relative" data-members-form>
                            <input class="flex-1 w-full rounded-lg duration-300 bg-transparent py-3 px-4 border border-[#D0D5DD] focus:outline-none focus:border-primary shadow-none target:outline-none focus-visible:outline-none" type="email" placeholder="Enter your email" data-members-email>
                            <h4 class="success-message hidden p-5 w-full bg-[#fff]/75 text-[#008000] font-normal text-base text-center absolute top-full left-0">Thank you! Your submission has been received!</h4>
                            <button class="btn-primary w-[116px]" type="submit">Subscribe</button>
                            <p data-members-error class="error-message mt-5 absolute top-full left-0 text-[#de2525] hidden">error message will appear here</p>
                        </form>
                    </div>
                    {{#if feature_image}}
                        <div class="sm:max-w-[600px] w-full rounded-2xl overflow-hidden">
                            <img src="{{feature_image}}" alt="{{title}}">
                        </div>
                    {{/if}}
                </div>
            {{/foreach}}
        </div>
    </div>
{{/if}}
{{/get}}
{{!-- Banner End --}}

{{!-- Home Card Area Start --}}
<div class="py-[30px] xs:pt-[40px] lg:py-[60px]">
    <div class="container">
        <div class="max-w-[1224px] mx-auto">
            <div class="post-card-nav mb-8 sm:mb-12 md:mb-16">
                {{#get "tags" limit="all"}}
                {{#if tags}}
                <ul class="flex gap-2 flex-wrap">
                    <li><a class="text-[#777C85] duration-300 py-3 sm:py-4 px-5 sm:px-6 text-sm sm:text-base leading-none tracking-[-0.16px] font-medium rounded-lg inline-block c-tags-list__link" href="/">All Categories</a></li>
                    
                    {{#foreach tags}}
                    <li><a class="text-[#777C85] duration-300 py-3 sm:py-4 px-5 sm:px-6 text-sm sm:text-base leading-none tracking-[-0.16px] font-medium rounded-lg inline-block c-tags-list__link" href="{{url}}">{{name}}</a></li>
                    {{/foreach}}
                </ul>
                {{/if}}
                {{/get}}
            </div>
            {{#get "posts" include="authors,tags"}}
            {{#if posts}}
                <div class="grid xs:grid-cols-2 md:grid-cols-3 gap-y-8 md:gap-y-12 gap-x-6 js-post-card-wrapper">
                    {{#foreach posts}}
                        {{> post-card extra_class="js-post-card"}}
                    {{/foreach}}
                </div>
            {{/if}}
            {{/get}}
            {{!-- Pagination --}}
            {{!-- <div class="mt-8 sm:mt-12 md:mt-16 flex items-center justify-between gap-4">
                <a href="#" class="flex items-center gap-[5px] text-sm font-medium leading-none text-[#777C85] duration-300 transform sm:hover:scale-105 justify-center
                w-[36px] h-[36px] sm:w-auto sm:h-auto border sm:border-none border-[#D0D5DD] rounded-lg
                ">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.8327 7.00002H1.16602M1.16602 7.00002L6.99935 12.8334M1.16602 7.00002L6.99935 1.16669" stroke="#777C85" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span class="hidden sm:block">Previous</span>
                </a>
                <ul class="flex gap-[10px] -order-1 xs:order-none w-full xs:w-auto justify-center overflow-auto">
                    <li><a class="w-10 h-10 rounded-lg flex items-center justify-center text-sm text-[#777C85] font-medium leading-noen duration-300 hover:bg-[#F7F8F9] hover:text-dark" href="#">1</a></li>
                    <li><a class="w-10 h-10 rounded-lg flex items-center justify-center text-sm text-[#777C85] font-medium leading-noen duration-300 hover:bg-[#F7F8F9] hover:text-dark" href="#">2</a></li>
                    <li><a class="w-10 h-10 rounded-lg flex items-center justify-center text-sm text-[#777C85] font-medium leading-noen duration-300 hover:bg-[#F7F8F9] hover:text-dark" href="#">3</a></li>
                    <li><a class="w-10 h-10 rounded-lg flex items-center justify-center text-sm text-[#777C85] font-medium leading-noen duration-300 hover:bg-[#F7F8F9] hover:text-dark" href="#">...</a></li>
                    <li><a class="w-10 h-10 rounded-lg flex items-center justify-center text-sm text-[#777C85] font-medium leading-noen duration-300 hover:bg-[#F7F8F9] hover:text-dark" href="#">8</a></li>
                    <li><a class="w-10 h-10 rounded-lg flex items-center justify-center text-sm text-[#777C85] font-medium leading-noen duration-300 hover:bg-[#F7F8F9] hover:text-dark" href="#">9</a></li>
                    <li><a class="w-10 h-10 rounded-lg flex items-center justify-center text-sm text-[#777C85] font-medium leading-noen duration-300 hover:bg-[#F7F8F9] hover:text-dark" href="#">10</a></li>
                </ul>
                <p class="text-sm font-medium leading-none text-[#344054]">Page 1 of 10</p>

                <a href="#" class="flex items-center gap-[5px] text-sm font-medium leading-none text-[#777C85] duration-300 transform sm:hover:scale-105 justify-center
                w-[36px] h-[36px] sm:w-auto sm:h-auto border sm:border-none border-[#D0D5DD] rounded-lg
                ">
                    <span class="hidden sm:block">Next</span>
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16602 7.00002H12.8327M12.8327 7.00002L6.99935 1.16669M12.8327 7.00002L6.99935 12.8334" stroke="#777C85" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </div> --}}
            <div class="flex justify-center mt-8 sm:mt-12 show-more-box">
                <a href="#" class="btn-primary show-more">Load More Articles</a>
            </div>
        </div>
    </div>
</div>
{{!-- Home Card Area End --}}

{{!-- Sign Up Area Start --}}
<div class="py-[30px] sm:py-10 lg:py-[60px]">
    <div class="container">
        <div class="max-w-[1224px] mx-auto">
            {{> sign-up}}
        </div>
    </div>
</div>
{{!-- Sign Up Area End --}}
