{{!< default}}

{{#post}}
    <div class="pt-[150px] md:pt-[175px] pb-16 xs:pb-20 lg:pb-[129px] bg-[#FCF7E8] relative z-[1]">
        <img class="w-[40%] sm:w-auto absolute bottom-0 left-[5%] -z-[1]" src="{{asset 'img/post-header-shape-01.png'}}" alt="shape">
        <img class="w-[40%] sm:w-auto absolute top-0 right-0 -z-[1]" src="{{asset 'img/post-header-shape-02.png'}}" alt="shape">
        <div class="container">
            {{> post-header}}
        </div>
    </div>

    <div class="pb-[30px] sm:pb-10 lg:pb-[60px] pt-[60px] sm:pt-10 lg:pt-[120px]">
        <div class="container">
            <div class="max-w-[1016px] mx-auto flex items-start gap-6 flex-col sm:flex-row relative">
                <div class="sm:max-w-[288px] w-full sm:sticky sm:top-5">
                    <div class="toc-inner">
                        <div class="toc-wrap">
                            <h5 class="text-xl font-medium leading-none mb-5 font-inter">
                                Content
                                <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 0.292893C0.683416 -0.097631 1.31658 -0.097631 1.7071 0.292893L4.99999 3.58579L8.29288 0.292893C8.6834 -0.0976311 9.31657 -0.0976311 9.70709 0.292893C10.0976 0.683417 10.0976 1.31658 9.70709 1.70711L5.7071 5.70711C5.31657 6.09763 4.68341 6.09763 4.29289 5.70711L0.292893 1.70711C-0.0976309 1.31658 -0.0976309 0.683417 0.292893 0.292893Z" fill="#777C85"/>
                                </svg>
    
                            </h5>
                            <div class="js-toc mt-4"></div>
                        </div>
                    </div>
                    <div class="post-meta-wrap toc-author-social mt-8 hidden sm:block">
                        {{> social-share}}
                    </div>
                </div>
                <div class="sm:max-w-[705px] w-full border-t sm:border-t-0 border-[#3D4044]/10">
                    {{!-- post-full-content --}}
                    <div class="post-content zoom-gallery post js-toc-content">
                        {{#if custom_excerpt}}
                        <p class="content-excerpt">
                            {{custom_excerpt}}
                        </p>
                        {{/if}}
                        {{#if access}}
                            {{content}}
                        {{else}}
                            <div class="membership-post-content">
                                {{#if html}}
                                    {{{html}}}
                                {{else}}
                                    <p>{{custom_excerpt}}</p>
                                {{/if}}
                            </div>
                            
                        {{/if}}
                        {{!-- {{> free-demo-card extra_class="tablet"}} --}}
                    </div>
                    <div class="post-meta-wrap toc-author-social mt-10 block sm:hidden">
                        {{> social-share}}
                    </div>
                </div>
            </div>
        </div>
    </div>



    {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{id}}" limit="3" include="authors,tags"}}
    {{#if posts}}
    <div class="py-[30px] sm:py-10 lg:py-[60px]">
        <div class="container">
            <div class="max-w-[1224px] mx-auto">
                <h2 class="text-[40px] font-semibold font-Jakarta leading-tight mb-8 sm:mb-10">Related Articles</h2>
                <div class="pplr-articl-wrapper">
                    <div class="grid grid-cols-1 xs:grid-cols-2 md:grid-cols-3 gap-6">
                        {{#foreach posts visibility="all"}}
                            {{> "post-card"}}
                        {{/foreach}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    {{/get}}
{{/post}}

{{!-- Sign Up Area Start --}}
<div class="py-[30px] sm:py-10 lg:py-[60px]">
    <div class="container">
        <div class="max-w-[1224px] mx-auto">
            {{> sign-up}}
        </div>
    </div>
</div>
{{!-- Sign Up Area End --}}
