<div class="flex  sm:flex-row justify-between gap-5  sm:gap-[18px] lg:gap-10 xl:gap-[60px] sm:pl-10 lg:pl-[95px]  bg-[#FCF7E8] rounded-[20px] relative z-[1] overflow-hidden flex-col">
    <img class="w-[36%] hidden md:block absolute z-[-1] top-0 right-0" src="{{asset '/img/redesign/fertility-thumb-shape2.png'}}" alt="shape">
    <img class="w-[35%] hidden md:block absolute z-[-1] bottom-0 right-[26%]" src="{{asset '/img/redesign/fertility-thumb-shape.png'}}" alt="shape">
    <img class="block xs:hidden absolute z-[-1] bottom-0 left-0" src="{{asset '/img/redesign/fertility-thumb-shape3.png'}}" alt="shape">
    <div class="sm:max-w-[566px] w-full flex-1 md:max-w-none sm:pb-7 lg:pb-[66px] sm:pt-[54px] lg:pt-[90px] sm:px-0 p-6">
        {{#if @custom.fertility_title}}
            <h2 class="text-3xl leading-[42px] xs:text-[40px] font-semibold xs:leading-tight">{{@custom.fertility_title}}</h2>
        {{/if}}
        {{#if @custom.fertility_excerpt}}
            <p class="xs:text-lg leading-[25px] xs:leading-[26px] tracking-[-0.01px] mt-4 md:line-clamp-none line-clamp-3">{{@custom.fertility_excerpt}}</p>
        {{/if}}
        {{#if @custom.fertility_link}}
            <a class="!py-3 !px-5 !text-base font-medium leading-[24px] !tracking-[-0.01px] btn-primary mt-6 xs:mt-10 !inline-block" href="{{@custom.fertility_link}}">Mehr lesen</a>
        {{/if}}
    </div>
    <div class="w-full sm:w-[50%] xl:w-[500px] max-h-[300px] sm:max-h-max">
        <img class="h-full w-full object-cover" src="{{asset '/img/redesign/fertility-thumb2.jpg'}}" alt="fertility">
    </div>
</div>