<div class="border border-border_color rounded-2xl p-8 {{class}}">
    <h4 class="text-xl leading-[28px] font-semibold tracking-[-0.01px]"><a href="{{url}}">{{title}}</a></h4>
    <p class="mt-3 tracking-[-0.01px] line-clamp-4">{{excerpt}}</p>
    <ul class="flex items-center mt-3 gap-4">
        <li class="text-sm leading-[22px] tracking-[-0.01px] text-light_gray">{{date published_at format="MMM, YYYY"}}</li>
        <li
            class="text-sm leading-[22px] tracking-[-0.01px] text-light_gray flex items-center gap-[6px]">
            {{> redesign/icons/clock}}
            {{reading_time minute="Nur eine Minute" minutes="% Proto"}}
        </li>
    </ul>
</div>